<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="id.my.alan.share_whatsapp">

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application>
        <provider
            android:name="id.my.alan.share_whatsapp.ImagePickerFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
